.navMenu {
  display: flex;
  width: 100%;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;
}

.header-1{
  width: 100%;
}

