@import url("https://fonts.cdnfonts.com/css/too-freakin-cute-demo");

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.parent {
  display: flex;
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: url("https://cdn.midjourney.com/03468384-a04c-4c1b-8a24-a18a93074989/0_0.png");
  background-position: center center;
  background-size: cover;
}

.children {
  width: 100%;
  display: flex;
  max-width: 80%;
  min-height: 700px;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #1a1a1a1d;
  color: rgb(228, 228, 228);
  border-radius: 8px;
  text-wrap: initial;
  backdrop-filter: blur(5px);
  will-change: auto;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(150, 107, 86, 0.289);
  font-family: "Too Freakin Cute Demo", sans-serif;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0.2;
  object-fit: cover;
  z-index: 1;
}

.content {
  z-index: 4;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.head-1 {
  font-size: 2rem;
  letter-spacing: -4%;
  word-spacing: -10%;
  color: whitesmoke;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 300ms ease-in-out;
}

.btn,
.btn-1 {
  padding: 8px 20px;
  background: orangered;
  text-decoration: none;
  color: white;
  border-radius: 16px;
  text-transform: capitalize;
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  corner-shape: squircle;
}

.red-tag {
  color: orangered;
}

.card {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #212121;
  border-radius: 10px;

  span {
    font-weight: 500;
    color: red;
    font-size: 2em;
  }
}

.input-field {
  padding: 10px;
  border-radius: 14px;
  border: 1px solid gray;
}
