* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0d0b0e;
  color: #afacb1;
  width: 100vw;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}


